

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{font-family: 'SUIT-Regular' !important;}

body{height:4000px;}
header {
  position: fixed;
  top: 0;
  z-index: 8;
  width: 100%;
  height: 100px;
  transition:1s;
  background-color: rgba(35, 64, 42, 0.7);
  transform: translateY(0%);
}
header.active {
  transform: translateY(-100%);
}
header .inner {
  display: flex;
  height: 100%;
  margin-left: 180px;
  margin-right: 180px;
  justify-content: space-between;
  align-items: center;

}
header .inner img {
  width: 177px;
  height: 44px;
}
header .inner ul {
  color: #fff;
  display: flex;
  margin-left:20%;
}
header .inner ul li {
  margin-right: 60px;
}

header .inner .btn_wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:35px;
}
header .inner .btn_wrap button {
  cursor: pointer;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  width: 127px;
  height: 40px;
}
header .inner .btn_wrap .menu_btn{
  display:none;
}

header .inner .btn_wrap button:hover {
  background-color: #fff;
  color: black;
}

.menu_show {
  display: none;
}


footer {
  color: #fff;
  width: 100%;
  background-color: black;
  background-size: cover;
  width: 100%;
  height: 312px;
}
footer .inner {
  padding-top: 50px;
  margin: auto 180px;
}
footer .inner .foot_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .inner .foot_top h2 img {
  width: 136px;
  height: 35px;
}
footer .inner .foot_top .foot_con a.insta {
  margin-right: 28px;
}
footer .inner .foot_btm {
  font-size: 11px;
  padding-top: 80px;
}
footer .inner .foot_btm .info_tel{
  display:none;
}
footer .inner .foot_btm .info {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}
footer .inner .foot_btm .info a {
  margin-left: 50px;
}
footer .inner .foot_btm .line {
  border: 1px solid #fff;
}
footer .inner .foot_btm .copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
footer .inner .foot_btm .copy address span{
  margin-left:15px;
}




/* 배경 */

.header_image {
  width: 100%;
  height: 950px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_image > figure {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header_image > figure > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header_image_word {
  position: absolute;
  z-index: 3;
  text-align: center;
  color: white;
}

.header_image_word > h2 {
  font-size: 100px;
  padding-bottom: 20px;
}

.header_image_word > p {
  font-family: 'SUIT-Regular'!important;
  font-size: 25px;
  padding-top: 10px;
}
/* ///////////////////////////////////////////////////////////////////// */
@media (max-width: 1440px) {
  header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;
    transition:1s;
    background-color: rgba(35, 64, 42, 0.7);
    transform: translateY(0%);
  }
  
  header.active {
    transform: translateY(-100%);
  }
  header .inner {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  header .inner img {
    width: 177px;
    height: 44px;
  }
  header .inner ul {
    display: none;
    color: #fff;
  }
  header .inner .btn_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:35px;
  }


  header .inner .btn_wrap .menu_btn{
    width: 30px;
    height: 100%;
    display: block;
    height: 100%;
    position: relative;
    top:5px;
    transition: 1s;
    cursor: pointer;
  }
  
  
  header .inner .btn_wrap .menu_btn span{
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    border: 1px solid white;
  }
  header .inner .btn_wrap .menu_btn span:nth-of-type(1) {
    top: 0;
    
  }
  header .inner .btn_wrap .menu_btn span:nth-of-type(2) {
    top: calc(100% - 8.5px);
    
  }
  header .inner .btn_wrap .menu_btn span:nth-of-type(3) {
    top: calc(100% - 15px);
    
  }
  


  header .inner .btn_wrap button {
    margin-right: 0px;
    cursor: pointer;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    width: 127px;
    height: 40px;
  }

  header .inner .btn_wrap button.login {
    width: 73px;
    height: 41px;
  }

  header .inner .btn_wrap button:nth-child(1) {
    margin-right: 20px;
  }
  header .inner .btn_wrap button:hover {
    background-color: #fff;
    color: black;
  }

  .menu_show {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    color: white;
    opacity: 0;
    padding-bottom:250px;
    padding-top:250px;
    
  }
  .menu_show > a {
    font-size: 30px;  
  }
  .menu_show > a:nth-of-type(5){
    display:none;
  }
  .menu_show > a:nth-of-type(6){
    display:none;
  }

  .menu_show.active {
    opacity: 1;
    transform: translateY(0%);
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index:200;
  }

  


  footer .inner .foot_btm .info_tel{
    display: block;
  }
  footer .inner .info{
    display:flex !important;
    justify-content: space-between !important;
  }

  footer .inner .right{
    display: none;
  }

  footer .inner address span:nth-of-type(4){
    display: none;
  }
  footer .inner .foot_btm .copy {
    padding-top: 30px;
  }

  footer .inner .foot_btm .copy address{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  footer .inner .foot_btm .copy address span{
    margin-left:0px;
  }

  footer .inner .foot_btm .copy address span:nth-of-type(2){
    margin-left:300px;
  }


  .header_image_word > h2 {
    font-size: 80px;
    padding-bottom: 20px;
  }
  
  .header_image_word > p {
    font-size: 20px;
    padding-top: 10px;
  }
}


@media (max-width: 1220px) {
  footer .inner .foot_btm .copy address span:nth-of-type(2){
    margin-left:0px;
  }

 

}

@media (max-width: 920px) {
  header .inner .reser{
    display:none;
  }
  header .inner .login{
    display:none;
  }
  footer .inner address span:nth-of-type(2){
    display: none;
  }
  footer .inner address span:nth-of-type(3){
    display: none;
  }
  .header_image_word > h2 {
    font-size: 60px;
    padding-bottom: 20px;
  }
  
  .header_image_word > p {
    font-size: 15px;
    padding-top: 10px;
  }
  .menu_show > a:nth-of-type(5){
    display:block;
  }
  .menu_show > a:nth-of-type(6){
    display:block;
  }


}
@media (max-width: 820px){

  footer .inner {
    padding-top: 50px;
    margin: auto 100px;
  }

  footer .inner .info .info_tel{
    display:none;
  }
  footer .inner .info .info_contents a:nth-child(3){
    display:none;
  }
  footer .inner .info{
    display: flex;
    justify-content: flex-end !important;
  }
}

@media (max-width: 480px){
  

  .header_image_word > h2 {
    font-size: 45px;
    padding-bottom: 10px;
  }
  
  .header_image_word > p {
    font-size: 11px;
    padding-top: 10px;
  }


  .menu_show > a:nth-of-type(5){
    display:block;
  }
  .menu_show > a:nth-of-type(6){
    display:block;
  }
  
  
  footer .inner {
    padding-top: 50px;
    margin: auto 20px;
  }

}


