@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "SUIT-Regular";
}
/*
.sec2 {
   max-width: 1440px; 
  margin: 0 auto;
  position: relative;
  display: flex;
  font-size: 1rem;
  color: #eff299;
   padding: 200px 0; 
  background-color: #23402a;
}
*/

/*
.sec2::after {
  content: "";
  background-color: white;
  background-size: 30% 150px;
  height: 210px;
  width: 35%;
  position: absolute;
  left: 0;
  bottom: 0;
}
*/
/*
.sec2::before {
  content: "";
  background-color: white;
  height: 200px;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}
*/
.text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text_box button {
  text-decoration: none;
}

.title2 {
  font-size: 1.5625rem;
}

.sec2 {
  position: relative;
  /* max-width: 1440px; */
  margin: 0 auto;
  position: relative;
  display: flex;
  font-size: 1rem;
  color: #eff299;
  padding: 200px 0;
  background-color: #112619;
}
.sec2 .logo {
  position: absolute;
  left: 10%;
  bottom: 50px;
  z-index: 2;
}
.sec2::after {
  content: "";
  background-color: white;
  background-size: 30% 150px;
  height: 210px;
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.sec2::before {
  content: "";
  background-color: white;
  height: 210px;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}
.img_box2 {
  height: 100%;
}
.img_box {
  width: 70%;
  height: 800px;
  transition: opacity 0.5s ease;
  z-index: 2;
}

.img_box img {
  width: 100%;
  height: 100%;
}
.text_box {
  font-family: "SUIT-Regular";
  background-color: #23402a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;

  z-index: 2;
}
.text_box p {
  margin-top: 13px;
}
.text_box .more_btn {
  color: inherit;
  font-family: inherit;
  width: 127px;
  height: 41px;
  background-color: transparent;
  border: 1px solid #eff299;
  margin-top: 17px;
  cursor: pointer;
}
.text_box .more_btn:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s;
}

.text_box.deactive {
  display: none;
}

.img_box.deactive {
  display: none;
}

.acor_wrap {
  z-index: 2;
  width: 100%;
  height: 800px;
  position: relative;
}
.acor_wrap .img_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.acor_wrap .img_container .img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.acor_wrap .img_container .img_wrap .acor_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  transition: all 0.8s ease;
}
/* .acor_wrap .img_container .img_wrap .acor_img:not(:hover) figcaption {
  display: none;
} */
/* .acor_wrap .img_container .img_wrap .acor_img figcaption {
  color: white;
  position: absolute;
  top: 50%;
  height: 0;
} */
.acor_wrap .img_container .img_wrap .acor_img figcaption .title2 {
  text-align: center;
  margin-bottom: 20px;
}
.acor_wrap .img_container .img_wrap .acor_img figcaption .sec2_desc {
  text-align: left;
  font-size: 1rem;
  line-height: 20px;
  opacity: 0;
}
.acor_wrap .img_container .img_wrap .acor_img figcaption .sec2_desc.on {
  opacity: 1;
}
.acor_wrap .btn_close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 3;
  display: none;
}
.acor_wrap .btn_close::after {
  content: "×";
  display: inline-block;
  font-size: 2.1875rem;
  color: #eff299;
  cursor: pointer;
}

.deactive {
  display: none;
}

/* 반응형 시작 //////////// */

@media all and (max-width: 1024px) {
  .img_box {
    height: 540px;
  }

  .sec2 .logo img {
    height: 80px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}








.img_wrap li .gone .sec2_desc{
  line-height: 130%;
  word-break: keep-all;
  word-wrap: break-word;
}
















